.player-page {

  background: black;

  min-height: 100vh;

  color: white;

  padding: 20px;
}


/* TOP */

.player-top {

  display: flex;

  align-items: center;

  gap: 20px;

  margin-bottom: 20px;
}

.back-btn {

  background: #00bfff;

  border: none;

  padding: 8px 16px;

  color: white;

  cursor: pointer;

  border-radius: 5px;
}


/* CONTAINER */

.player-container {

  display: grid;

  grid-template-columns: 2fr 1fr;

  gap: 20px;
}


/* VIDEO */

.video-player {

  width: 100%;

  border-radius: 10px;
}

.video-info {

  margin-top: 15px;
}


/* SIDEBAR */

.sidebar {

  background: #111;

  padding: 15px;

  border-radius: 10px;
}

.recommended-card {

  display: flex;

  gap: 10px;

  margin-top: 15px;

  cursor: pointer;
}

.recommended-card img {

  width: 80px;

  border-radius: 5px;
}

.recommended-card button {

  background: #00bfff;

  border: none;

  padding: 5px 10px;

  margin-top: 5px;

  color: white;

  cursor: pointer;
}


/* ERROR */

.player-error {

  height: 100vh;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;
}


/* RESPONSIVE */

@media(max-width:768px){

.player-container{

grid-template-columns: 1fr;

}

}
